html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#mainContent {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 1080px;
  height: 720px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: #FFF;
  background-size: cover; }

#mainImg {
  margin: 200px;
  width: 500px;
  height: 500px;
  position: absolute; }

.box {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: red;
  margin: 0;
  padding: 0;
  position: absolute;
  background: url("../img/mainImg.jpg"); }

#topBox {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  right: 0;
  border: 1px solid black; }

#masterTile {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 75px; }
