@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mainContent {
    position: relative;

    overflow: hidden;

    margin: 0 auto;

    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid black;
    background: $backgroundColor ;
    background-size:cover;
}

#mainImg{
    margin: 200px;
    width: 500px;
    height: 500px;
    position: absolute;

}

.box{
    width: 50px;
    height: 50px;
    display: inline-block;
    background: red;
    margin: 0;
    padding: 0;
    position: absolute;

    background: url('../img/mainImg.jpg');

}

#topBox{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    right: 0;
    border: 1px solid black;
}

#masterTile{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 75px;
}
